@import url(https://fonts.googleapis.com/css?family=Poiret+One);

.time-container {
  display: flex;
}

.time__hours,
.time__minutes,
.time__seconds,
.time__midday {
  color: #fff;
  font-size: 7em;
  font-family: 'Poiret One', Arial, Helvetica, sans-serif;
}

.time__midday {
  font-size: 2.6em;
}