.copy-container {
  position: absolute;
  width: 100%;
  padding: 10px 0;
  top: 0;
  background: #fafafa;
  color: #607D8B;
  text-align: center;
}

.copy-container a {
  color:#ff4081;
  text-decoration: none;

}